body {
   font-family: "Open Sans", sans-serif;
   margin: 0;
}

.header-image {
   position: absolute;
   top: 10px;
   left: 375px;
   width: 213px;
   height: 26px;
}

.info-box {
   display: none;
}

.headline-container {
   background: url(/images/Header\ Image.png);
}

.background-image {
   display: block;
   position: absolute;
   top: 45px;
   width: 100%;
   height: 470px;
   opacity: 1;
}

.headline-text {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 399px;
   left: 20%;
   z-index: 1;
}

.headline-text h1 {
   text-align: left;
   font: normal normal normal 40px/55px Open Sans;
   letter-spacing: 0px;
   color: #ffffff;
   margin: 0;
}

.headline-text h2 {
   text-align: left;
   font: normal normal bold 18px/24px Open Sans;
   letter-spacing: 0px;
   color: #fdb913;
   margin: 0;
}

.form-container {
   position: relative;
   top: 151px;
   left: 1165px;
   width: 380px;
   height: 575px;
   background: #ffffff 0% 0% no-repeat padding-box;
   box-shadow: 0px 3px 6px #00000029;
}

.form-title {
   margin: 20px;
}

.form-title h1 {
   padding-top: 10px;
}

.form-hr {
   position: absolute;
   left: 20px;
   width: 40px;
   height: 3px;
   border: none;
   border-top: 3px solid rgb(255, 255, 0);
}

.form {
   position: absolute;
   margin: 15px;
   font-family: "Open Sans", sans-serif;
   font-weight: bold;
   color: #505050;
}

.form select,
.form input[type="text"],
.form input[type="checkbox"] {
   font-family: Arial, sans-serif;
}

select {
   margin-top: 7px;
   border: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: noe;
   background-image: url("/images/arrow.png");
   background-size: 30px;
   background-position: right;
   background-repeat: no-repeat;
   padding-right: 200px;
}

.name-container input {
   margin-top: 10px;
   border: none;
   outline: none;
}

.checkbox-container input {
   display: none;
}
.checkbox-container input + label {
   display: inline-block;
   position: relative;
   margin-top: 5px;
   padding-left: 30px;
   padding-bottom: 5px;
   cursor: pointer;
   font-size: 16px;
}

.checkbox-container input + label:before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 20px;
   height: 20px;
   border-radius: 20%;
   border: 2px solid #505050;
}

.checkbox-container input:checked + label:before {
   text-align: center;
   content: "\2713";
   color: rgb(255, 255, 255);
   line-height: 18px;
   font-size: 18px;
   background-color: yellow;
}

.submit-btn {
   font-family: "Open Sans", sans-serif;
   font-weight: bold;
   font-size: 16px;
   color: white;
   cursor: pointer;
   background-color: #cc4b00;
   border: none;
   width: 100%;
   height: 50px;
}

.text-container {
   font-size: 16px;
   position: absolute;
   top: 555px;
   left: 375px;
   width: 760px;
   height: 152px;
   color: var(---505050);
   text-align: left;
   letter-spacing: 0px;
   color: #505050;
}

.text-container h3 {
   font-weight: 10;
}

.additional-info-container {
   display: flex;
   flex-direction: row;
}

.additional-info-container h4 {
   position: relative;
   top: -5;
   margin: 0px 0px 0px 10px;
   width: 712px;
   height: 22px;
   text-align: left;
   text-decoration: underline;
   font: normal normal normal 16px/26px Open Sans;
   letter-spacing: 0px;
   color: #cc4b00;
}

.disclaimer-icon {
   width: 28px;
   height: 16px;
   background: transparent url("img/Icon / Disclaimer / Orange.png") 0% 0%
      no-repeat padding-box;
}

.info-link {
   position: absolute;
   top: 940px;
   left: 415px;
   width: 712px;
   height: 22px;
   text-align: left;
   text-decoration: underline;
   font: normal normal normal 16px/26px Open Sans;
   letter-spacing: 0px;
   color: #cc4b00;
}

.footer-container {
   position: absolute;
   top: 1042px;
   left: 0px;
   width: 100%;
   height: 398px;
   /* UI Properties */
   background: #505050 0% 0% no-repeat padding-box;
}

.white-logo {
   position: relative;
   top: 40px;
   width: 214px;
   left: 853px;

   height: 24px;
   /* UI Properties */
   background: transparent url("img/Logo / White.png") 0% 0% no-repeat
      padding-box;
}

.footer-title {
   position: relative;
   top: 115px;
   left: 300px;
   width: 851px;
   height: 27px;
}

.footer-hr {
   position: relative;
   top: 150px;
   width: 1170px;
   border: none;
   border-top: 1px solid #686868;
}

.footer-text-container {
   position: relative;
   top: 170px;
   left: 375px;
   width: 1170px;
   height: 169px;
   text-align: center;
   letter-spacing: 0px;
   color: #ffffff;

   font-size: 12px;
}
.footer-text-container h4 {
   font-weight: 300;
}

.under-footer-hr {
   position: relative;
   top: 160px;
   border: none;
   border-top: 1px solid #747474;
}

.under-footer {
   color: #d6d6d6;
   font-size: 12px;
   width: 100%;
   background-color: #454545;
   position: absolute;
   top: 397;
   border-top: #ffffff;
}

.under-footer h4 {
   text-align: center;
   font-weight: 100;
}

@media only screen and (max-width: 450px) {
   .header-image {
      top: 10px;
      left: 15px;
   }
   .info-box {
      position: relative;
      display: block;
      left: 340px;
      width: 50px;
      height: 50px;
      background-color: #fdb913;
      text-align: center;
      font-size: 24px;
   }
   .background-image {
      width: 390px;
      height: 220px;
   }
   .headline-text {
      top: 186px;
      left: 0px;
      width: 390px;
      height: 79px;
      background-color: rgb(0, 0, 0, 0.6);
   }
   .headline-text h1 {
      text-align: center;
      font-size: 24px;
   }
   .headline-text h2 {
      text-align: center;
      font-size: 14px;
   }
   .text-container {
      top: 308px;
      left: 15px;
      width: 360px;
      height: 305px;
   }
   .footer-container {
      top: 1748px;
      left: 0px;
      width: 390px;
      height: 604px;
   }
   .white-logo {
      top: 40px;
      left: 88px;
      width: 214px;
      height: 24px;
   }
   .footer-hr {
      position: relative;
      width: 350px;
      border: none;
      border-top: 1px solid #686868;
   }
   .footer-title {
      left: 20px;
      width: 90%;
      height: auto;
   }
   .form-container {
      top: 1080px;
      left: 0px;
      width: 380px;
      height: 575px;
      background: var(---ffffff) 0% 0% no-repeat padding-box;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
   }
   .footer-text-container {
      top: 150px;
      left: 20px;
      width: 350px;
      height: 17px;
   }
   .under-footer-hr {
      top: 473px;
      border: none;
      border-top: 1px solid #747474;
   }
   .under-footer {
      top: 560;
   }
}
